---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>microniko</title>
		<script>
			import '../styles/global.css';
		</script>
	</head>
	<body>
		<h1>Micro</h1>
		<h1>//Niko</h1>
		<h2>Landing page for this site for now</h2>
	</body>
</html>
