---
---
<div class="nav-links">
<a id=logo href="/">micro//niko</a>
<a href="/posts">posts</a>
<a href="/about">about</a>
<input id=search type="text" placeholder="Search...">
<a href="https://www.youtube.com/channel/UCWjvWytFzkd3q8IkGll83CA">
    <img src="/yt.png" alt="youtube" style="width:2em">
</a>
<a href="https://github.com/macroniko">
    <img src="/git.png" alt="github" style="width:1.6em">
</a>
</div>